*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:auto;
background:#000;
}

.background{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background: linear-gradient(
135deg,
#020024,
#090979,
#00d4ff,
#6a11cb,
#000000
);
background-size:400% 400%;
animation:bg 8s ease infinite;
}
@keyframes bg{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.card{
position:relative;
z-index:1;
width:340px;
padding:35px;
text-align:center;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.15);
box-shadow:0 0 40px rgba(0,0,0,.5);
}


.profile{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #ffffff;
    margin-bottom:20px;

    box-shadow:
        0 0 15px #00e5ff,
        0 0 30px #00e5ff,
        0 0 50px #00e5ff,
        0 0 70px #6a11cb;

    animation: glowProfile 2s ease-in-out infinite alternate;
}
h1{
    color:#fff;
    font-size:56px;
    font-weight:800;
    text-transform:uppercase;
    letter-spacing:3px;
    position:relative;
    text-shadow:
        3px 3px 0 #ff0055,
        -3px -3px 0 #00e5ff;
    animation: glitch 1s infinite;
}

@keyframes glitch{
    0%{transform:translate(0);}
    20%{transform:translate(-2px,2px);}
    40%{transform:translate(2px,-2px);}
    60%{transform:translate(-2px,-1px);}
    80%{transform:translate(2px,1px);}
    100%{transform:translate(0);}
}

p{
color:#d6d6d6;
margin:15px 0;
}

button{
padding:14px 30px;
border:none;
border-radius:40px;
background:white;
    
font-size:17px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}
.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:25px;
}

.stat-box{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    border-radius:15px;
    padding:12px 18px;
    backdrop-filter:blur(10px);
    box-shadow:0 0 20px rgba(0,255,255,.2);
    text-align:center;
}

.number{
    display:block;
    color:#00e5ff;
    font-size:24px;
    font-weight:bold;
}

.label{
    display:block;
    color:#fff;
    font-size:13px;
    margin-top:5px;
}
#datetime{
    margin:12px 0;
    color:#00e5ff;
    font-size:18px;
    font-weight:600;
    text-align:center;
    text-shadow:0 0 10px #00e5ff;
}
